h1 {
    color:rgb(227, 180, 118);
    text-align: center;
    margin-top: 40px;
    font-style: italic;
}

h2{
    color:rgb(227, 180, 118);
    text-align: center;
    margin-top: 150px;
    font-style: italic;
    font-size: 50px;

}
.game-page1 {
  /* border: 2px solid salmon; */
  margin-top: 90px;
  text-align: center;
}

.start-button , .game-instructions {
    margin: 20px 0px 20px 0px;
    background-color: orange;
    border: none;
    border-radius: 50%;
    padding: 30px;
    /* the syle of the Text inside button */
    font-size: 20px;
    text-align: center;
    color: rgb(21, 18, 18);


}


span {
    color: orange;
}

/* body{
    background-image: url(/img/download.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
} */

.game-container {
    border: 2px solid red;
    height:fit-content;
    margin: 0 auto;
}

.game-hint {
    border: 2px solid blue;
    height: 10vh;
    width: 10vw; 
    margin: 20px 50px 0px 20px;
}

.center-the-game {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.game-letter {
    border: 2px solid palevioletred;
    height: 20vh;
    width: 40vw; 
    margin: 40px 0px 0px 30px;  
    text-align: center;
}

.button-the-game {
    display:flex;  
}

#game-img{
    border: 2px solid orange;
    height: 55vh;
    width: 20vw;
    background-repeat: no-repeat;
    margin-left: 300px; 
}
.game-keyboard {
    border: 2px solid greenyellow;
    height: 40vh;
    width: 50vw;
    margin: 100px 0px 0px 50px;
}

.key  {
    /* background: */
    background-image: url('./img/button\ img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 
 
    border: none;
    border-radius: 50%;
    padding: 20px;
  
     
    /* the syle of the Text inside button */
     font-size: 20px;
     text-align: center;
     color: rgb(21, 18, 18);

}   

/* The Modal1 (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The Modal2 (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
/* The Close Button */
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




